<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>450233507469-uj69jibcmqiupatvpmgc4hkcru8e062a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.450233507469-uj69jibcmqiupatvpmgc4hkcru8e062a</string>
	<key>API_KEY</key>
	<string>AIzaSyA8NLc0r2xDv_NbGk6_jwC903cSofwQjtI</string>
	<key>GCM_SENDER_ID</key>
	<string>450233507469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.personal.GroceryApp</string>
	<key>PROJECT_ID</key>
	<string>groceryapp-a0ffd</string>
	<key>STORAGE_BUCKET</key>
	<string>groceryapp-a0ffd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450233507469:ios:1906781482c08977768cc4</string>
	<key>DATABASE_URL</key>
	<string>https://groceryapp-a0ffd-default-rtdb.firebaseio.com</string>
</dict>
</plist>